#img-wrapper {
  background-color: #cfeae2;
  background-image: url("./media/titlePage.jpg");
  
  background-position: center;
  background-size: cover;
  height: 100vh;
  
}

@font-face { 
  font-family: 'Dancing-Script';
  src: url('DancingScript-VariableFont_wght.ttf');
}


#main-header {
  color: #ba542f;
  text-align: center;
  font-size: 10vh;
  font-weight: bold;
  margin-top: 45vh;

}

#index-header {
  color: #ba542f;
  text-align: center;
  font-size: 10vh;
  font-weight: bold;
  text-shadow: .3px .3px black;
  
}

#name-header {
  text-align: center;
  margin-top: 7vh;
  font-size: 8vh;
  font-family: "Dancing-Script";
}
#create-button {
  background-color: #ba542f !important;
  border-color: #ba542f !important;
  text-align: center !important;
}

#center-button {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom:4vh;
}

#index-search-button {
  background-color: #ba542f !important;
  border-color: #ba542f !important;
  text-align: center !important;
  color: white;
}

#link-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.switch-links {
  color: #ba542f !important;
}
#recipes-button {
 margin-top: 0px !important;
 margin-right: 10px !important;
}

#resources-button {
margin-bottom: 0px !important;
}

.card-style {
  margin-top: 2vh;
}

.card-body-style {
  background-color: #8b928f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #8b928f;
}

.card-title-style {
  margin: 15px;
  font-weight: bold;
  color:white;
  font-size: 4vh;
  text-shadow: .3px .3px black;
}
.card-text-style {
  margin: 15px;
  margin-left: 20px;
  margin-top: 5px;
  color: white;
}
.card-date-style {
  background-color: #A3A8A6!important;
  border-color: #A3A8A6 !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card-date-text {
  margin: 10px;
  
}



Button {
  background-color: #8b928f!important;
  border-color: #8b928f !important;
}
Button:hover {
  background-color: #A3A8A6!important;
  border-color: #A3A8A6 !important;
} 
#card-button-style {
  background-color: #ba542f !important;
  border-color: #ba542f !important;
  margin-bottom: 20px;
  margin-left: 20px;
}

#login-signup-button {
  margin-top: 3vh;
}


.gray {
  color: #8b928f !important;
}

.blue {
  color: #cfeae2;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column{
 display: flex;
 flex-direction: column;
 
}

#modal-footer-left-align {
  margin-left: 10px !important;
  margin-right: auto !important;
}


#blue-background {
  background-color: #cfeae2;
  background-position: center;
  width: 100vw;
  height: cover;
}

#index-top-pic {
background-image: url('./media/PicnicTable.jpg');
width: 100vw;
height: 18vh;
background-size: cover;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}

#index-logout {
 height: 3vh;
 margin-right: 3vw;
}

#index-searchbar {
  margin-top: 3vh;
}


#index-bottom-pic {
  background-image: url('./media/picnicTableFull.jpg');
  width: 100vw;
  height: 18vh;
  background-size: cover;
  position: relative;
  bottom: 0px;
  background-position: bottom;
  margin-top: 3vh;

}

.card-width {
  width: 50vw;
}

